In [2]:
import pandas as pd

In [ ]:
# タイタニック情報がよさそう
# https://github.com/nipe0324/kaggle/blob/master/titanic/notebooks/explore.ipynb

In [ ]:
# NaNの置き換え
df[1].fillna(0) # 1行目のNaNを0に置き換えた配列を返す。, inplace=Trueを加えると、データを置き換えてくれる。

In [ ]:
# 列の追加
df_test['NewRow'] = values

In [7]:
# 行を追加

# データフレーム df を作成
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
 
# データフレーム df2 を作成
df2 = pd.DataFrame([[5, 6]], columns=list('AB'))
 
# データフレーム df と df2 を結合
df.append(df2)

   A  B
0  1  2
1  3  4
0  5  6

In [ ]:
# CSVへの書き込み
df_test[['PassengerId', 'Survived']].to_csv('./path/to/file.csv', index=False)